ul.pagination {
  justify-content: center;
}

ul.pagination li {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 2.7rem;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

ul.pagination li:first-child {
  border-left: 1px solid #dee2e6;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

ul.pagination li:last-child {
  border-right: 1px solid #dee2e6;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

ul.pagination li a {
  text-decoration: none;
  color: #4582ec;
  font-size: 1.5rem;
}

ul.pagination li.active a {
  color: white;
}
ul.pagination li:hover {
  background-color: #e9ecef;
}
ul.pagination li.active {
  background-color: #4582ec;
}
