.loginModal {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 25px 15px;
}

ul,
li {
  list-style: none;
}

.loginModal__logo {
  margin-top: 24px;
  margin-bottom: 20px;
}

.loginModal__title {
  margin: 30px 0px;
}

.loginModal__login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginModal__login form input,
.loginModal__login form button {
  height: 40px;
  border-radius: 8px;
  border: none;
}

.loginModal__login form input {
  background-color: #f5f5f5;
  padding-left: 10px;
}

.loginModal__login form button {
  margin-top: 10px;
  background-color: #1977cc;
  font-weight: 600;
  color: white;
  font-size: 1.05rem;
}

.loginModal__none-account {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  gap: 10px;
}

.loginModal__none-account button {
  border: none;
  background-color: white;
  font-weight: 400;
  font-size: 1rem;
  color: #1977cc;
}

.loginModal__line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loginModal__line li {
  background-color: aqua;
  flex-grow: 1;
  height: 0.5px;
  background-color: #888888;
  opacity: 0.6;
}

.loginModal__social-login img {
  margin-top: 15px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px gray;
  cursor: pointer;
}
